<section class="admin">
  <h1>Admin Tools</h1>
  <h2>Customize Your Page</h3>

  <h3>Header</h3>

  <form class="customize_css">
    <h3>Change header background color</h3>:<br>
    <input type="text" name="header_background_color"><br>
    <h3>Change header text color</h3>:<br>
    <input type="text" name="header_text_color"><br>
    <h3>Change header star background color</h3>:<br>
    <input type="text" name="background_star_color"><br>
    <h3>Change body background color</h3>:<br>
    <input type="text" name="body_background_color"><br>
    <h3>Change body text color</h3>:<br>
    <input type="text" name="body_text_color"><br>
    <button type="button" class="customize_submit">Submit</button>
  
  </form>

</section>
