<h1>Video Number <%= @video.id %></h1>
<h3>Thumbnail 1</h3>
<%= image_tag(@video.thumbnail) %>
<p><%= link_to "Download Video", @video.url %></p>
<h3>Facial Recognition<h3>
<%= image_tag(@video.thumbnail_face, class: "face") %>
